@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');

/*#efedd6*/

* 
{
    box-sizing: border-box;
}
/*alinhar conteudos ao centro*/
body
{
    color: #fff;
    background-image: linear-gradient(90deg, #0d0c13, #290ea5);
    font-family: 'Lato','Verdana',sans-serif;
    display: flex;          /*coloca tudo em linha*/
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
 /*   height: 100vh;
    overflow: hidden;*/ /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
}

.caixa
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(250%);    /*MOVER AS CAIXAS PARA FORA DO ECRA, DIREITA 200*/
    transition: transform 0.4s ease;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.caixa:nth-of-type(even)    /*TODAS AS CAIXAS PARES VÃO PARA A ESQUERDA, FORA DO ECRA -200*/
{
    transform: translateX(-250%);
}

.caixa.mostra
{
    transform: translateX(0);   /*MOSTRA A CAIXA COM A CLASSE .mostra*/
}

.caixa h2 
{
    font-size: 45px;
}

#img1
{
    background-image: url(https://cdn.pixabay.com/photo/2018/06/17/20/35/chain-3481377_960_720.jpg);
}
#img2
{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/12/13/fence-1869401__340.jpg);
}
#img3
{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/28/08/30/link-4724140__340.jpg);
}
#img4
{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/28/08/54/link-4724148__340.jpg);
}
#img5
{
    background-image: url(https://cdn.pixabay.com/photo/2017/09/25/11/55/cyberspace-2784907__340.jpg);
}
#img6
{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/05/08/21/pair-707506__340.jpg);
}
#img7
{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/11/10/20/circuit-board-5907811__340.jpg);
}
#img8
{
    background-image: url(https://cdn.pixabay.com/photo/2014/11/13/06/12/boy-529067__340.jpg);
}
#img9
{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/28/08/30/link-4724140__340.jpg);
}
#img10
{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/28/08/54/link-4724148__340.jpg);
}
#img11
{
    background-image: url(https://cdn.pixabay.com/photo/2017/09/25/11/55/cyberspace-2784907__340.jpg);
}
#img12
{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/05/08/21/pair-707506__340.jpg);
}
#img13
{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/11/10/20/circuit-board-5907811__340.jpg);
}
#img14
{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/09/10/35/network-2932991__340.jpg);
}


/*//////////////////////////////////////////////////////////////////////////////////////*/


@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body 
    {
        padding: 20px;
    }
    
    .caixa
    {
        width: 200px;
        height: 100px;
    }
    .caixa h2
    {
        font-size: 20px;
    }
    .painel:nth-of-type(4), /*conforme o tamanha do ecra, vai mostrar 3 ou 5 miniaturas da imagem, RESPONSIVO*/
    .painel:nth-of-type(5)  /*media query*/
    {
        display: none;
    }
    footer 
    {
        display: none;
    };
}


/*estilos do footer */

footer{
    
    font-size: 8pt;
    color: rgb(239, 243, 234);
    
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
   
    margin: 20px;
    
    
}

footer a{
   color: #edf5e1;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: red;
}


